@model Examiner

@{
    ViewBag.Title = "Change Team";
    string examCode = ViewBag.ExamCode ?? "";
    string subjectCode = ViewBag.SubjectCode ?? "";
    string paperCode = ViewBag.PaperCode ?? "";
    string regionCode = ViewBag.RegionCode ?? "";
    string activity = ViewBag.Activity ?? "";
    string examCodee = ViewBag.examCode ?? "";

}

<script>
    $(document).ready(function () {
    @if (TempData["SuccessMessage"] != null)
    {
        <text>
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: '@TempData["SuccessMessage"]',
                    showConfirmButton: false,
                    timer: 2000
                });
        </text>
    }

    @if (TempData["Error"] != null)
    {
        <text>
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: '@TempData["ErrorMessage"]',
                    showConfirmButton: true
                });
        </text>
    }
                });
</script>

<h1 class="mb-3 text-center" style="color:#123255;">Change Team</h1>

<form asp-action="ChangeRoleAndTeam" class="needs-validation mb-5" novalidate>
    <input asp-for="EMS_EXAMINER_CODE" type="hidden" />

    <input asp-for="EMS_SUB_SUB_ID" type="hidden" />
    <input asp-for="EMS_PAPER_CODE" type="hidden" />
    <input asp-for="EMS_EXAMINER_NUMBER" type="hidden" />
    <input asp-for="EMS_MARKING_REG_CODE" type="hidden" />
    <input asp-for="EMS_ECT_EXAMINER_CAT_CODE" type="hidden" />

    <input name="activity" value="@activity" type="hidden" />
    <input name="examCode" value="@examCode" type="hidden" />

    <div class="border rounded p-4 mb-3 position-relative" style="border-width: 2px;">
        <div class="position-absolute bg-white px-3"
             style="top: -12px; left: 15px; z-index: 1; color:#123255;">
           @*  <h4 class="mb-0">Personal Details</h4 *@>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-md-4 mb-3">
                <div class="form-floating">
                    <input asp-for="EMS_NATIONAL_ID" id="emsNationalId" class="form-control" placeholder="Examiner National ID" readonly />
                    <label asp-for="EMS_NATIONAL_ID">National ID</label>
                    <span asp-validation-for="EMS_NATIONAL_ID" class="text-danger"></span>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <div class="form-floating">
                    <input asp-for="EMS_EXAMINER_NAME" class="form-control form-control-sm" placeholder="Examiner Name" readonly />
                    <label asp-for="EMS_EXAMINER_NAME">Examiner Name</label>
                    <span asp-validation-for="EMS_EXAMINER_NAME" class="text-danger"></span>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <div class="form-floating">
                    <input asp-for="EMS_LAST_NAME" class="form-control form-control-sm" placeholder="Examiner Last Name" readonly />
                    <label asp-for="EMS_LAST_NAME">Examiner Last Name</label>
                    <span asp-validation-for="EMS_LAST_NAME" class="text-danger"></span>
                </div>
            </div>


        </div>

        <div class="row mb-3">


            <div class="col-12 mb-3">
                <div class="form-floating">
                    <select asp-for="EMS_EXM_SUPERORD" class="form-control" id="superordDropdown" required>
                        <option value="">Select BMS</option>
                        <!-- Options will be populated dynamically -->
                    </select>
                    <label asp-for="EMS_EXM_SUPERORD">BMS Code:</label>
                    <span asp-validation-for="EMS_EXM_SUPERORD" class="text-danger"></span>
                </div>
            </div>

         


        </div>




    </div>



    <div class="row mb-3">
        <div class="col-12 col-md-6 mb-3">
            <button class="btn text-white w-100" type="submit" style="background-color: #153355;">
                <i class="fas fa-save mr-2"></i>
                Save
            </button>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <a class="btn btn-danger w-100" href="@Url.Action("Assignments", "Examiner")">
                <i class="fas fa-times mr-2"></i>
                Cancel
            </a>
        </div>
    </div>

</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }


}

<script>
    $(document).ready(function () {
        // Extract SubSubId and PaperCode from hidden fields
        var subSubId = $('input[name="EMS_SUB_SUB_ID"]').val();
        var paperCode = $('input[name="EMS_PAPER_CODE"]').val();
        var markingRegion = $('input[name="EMS_MARKING_REG_CODE"]').val();
        var activity = '@activity';
        var examCode = '@examCode';
        if (subSubId && paperCode) {
            $.ajax({
                url: '@Url.Action("GetPresentBMS", "Examiner")', // Make sure this URL is correct
                type: 'GET',
                data: {
                    subSubId: subSubId,
                    paperCode: paperCode,
                    activity: activity,
                    examCode: examCode,
                    markingRegion: markingRegion,
                },
                success: function (data) {
                    var superordDropdown = $('#superordDropdown');
                    superordDropdown.empty();
                    superordDropdown.append('<option value="">Select BMS Code</option>');

                    $.each(data, function (index, superord) {
                        superordDropdown.append('<option value="' + superord + '">' + superord + '</option>');
                    });
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching BMS codes:', error);
                }
            });
        }
    });


</script>


