@model Examiner


@{
    ViewBag.Title = "Change Role";
    
    string examCode = ViewBag.ExamCode ?? "";
    string subjectCode = ViewBag.SubjectCode ?? "";
    string paperCode = ViewBag.PaperCode ?? "";
    string regionCode = ViewBag.RegionCode ?? "";
    string activity = ViewBag.Activity ?? "";

}

<script>
    $(document).ready(function () {
    @if (TempData["SuccessMessage"] != null)
    {
        <text>
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: '@TempData["SuccessMessage"]',
                    showConfirmButton: false,
                    timer: 2000
                });
        </text>
    }

    @if (TempData["Error"] != null)
    {
        <text>
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: '@TempData["Error"]',
                    showConfirmButton: true
                });
        </text>
    }
                });
</script>

<h1 class="mb-3 text-center" style="color:#123255;">Change Role</h1>

<form asp-action="ChangeRoleAndTeam" class="needs-validation mb-5" novalidate>
    <input asp-for="EMS_EXAMINER_CODE" type="hidden" />
    <input asp-for="EMS_SUB_SUB_ID" type="hidden" />
    <input asp-for="EMS_PAPER_CODE" type="hidden" />
    <input asp-for="EMS_MARKING_REG_CODE" type="hidden" />

    <input name="activity" value="@activity" type="hidden" />
    <input name="examCode" value="@examCode" type="hidden" />


    <div class="border rounded p-4 mb-3 position-relative" style="border-width: 2px;">
        <div class="position-absolute bg-white px-3"
             style="top: -12px; left: 15px; z-index: 1; color:#123255;">
           @*  <h4 class="mb-0">Personal Details</h4> *@
        </div>
        <div class="row mb-3">
            <div class="col-12 col-md-4 mb-3">
                <div class="form-floating">
                    <input asp-for="EMS_NATIONAL_ID" id="emsNationalId" class="form-control" placeholder="Examiner National ID" readonly />
                    <label asp-for="EMS_NATIONAL_ID">National ID</label>
                    <span asp-validation-for="EMS_NATIONAL_ID" class="text-danger"></span>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <div class="form-floating">
                    <input asp-for="EMS_EXAMINER_NAME" class="form-control form-control-sm" placeholder="Examiner Name" readonly />
                    <label asp-for="EMS_EXAMINER_NAME">Examiner Name</label>
                    <span asp-validation-for="EMS_EXAMINER_NAME" class="text-danger"></span>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <div class="form-floating">
                    <input asp-for="EMS_LAST_NAME" class="form-control form-control-sm" placeholder="Examiner Last Name" readonly />
                    <label asp-for="EMS_LAST_NAME">Examiner Last Name</label>
                    <span asp-validation-for="EMS_LAST_NAME" class="text-danger"></span>
                </div>
            </div>


        </div>

        <div class="row mb-3">
       

            <div class="col-12 col-md-4 mb-3">
                <div class="form-floating">
                    <select asp-for="EMS_ECT_EXAMINER_CAT_CODE" class="form-control" id="examinerCategoryDropdown" required>
                        <option value="">Select Examiner Category</option>
                        <option value="PMS">PMS</option>
                        <option value="DPMS">DPMS</option>
                        <option value="RPMS">RPMS</option>
                        <option value="BMS">BMS</option>
                        <option value="E">E</option>
                      
                    </select>
                    <label asp-for="EMS_ECT_EXAMINER_CAT_CODE">Examiner Category</label>
                    <span asp-validation-for="EMS_ECT_EXAMINER_CAT_CODE" class="text-danger"></span>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <div class="form-floating">
                    <select asp-for="EMS_EXAMINER_NUMBER" class="form-control" id="examinerNumberDropdown" required>
                        <option value="">Select Examiner Number</option>
                        <!-- Options populated dynamically -->
                    </select>
                    <label asp-for="EMS_EXAMINER_NUMBER">Examiner Number</label>
                    <span asp-validation-for="EMS_EXAMINER_NUMBER" class="text-danger"></span>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-3">
                <div class="form-floating">
                    <select asp-for="EMS_EXM_SUPERORD" class="form-control" id="superordDropdown" required>
                        <option value="">Select BMS Code</option>
                        <!-- Options populated dynamically -->
                    </select>
                    <label asp-for="EMS_EXM_SUPERORD">BMS Code</label>
                    <span asp-validation-for="EMS_EXM_SUPERORD" class="text-danger"></span>
                </div>
            </div>


        </div>

    


    </div>



    <div class="row mb-3">
        <div class="col-12 col-md-6 mb-3">
            <button class="btn text-white w-100" type="submit" style="background-color: #153355;">
                <i class="fas fa-save mr-2"></i>
                Save
            </button>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <a class="btn btn-danger w-100" href="@Url.Action("Assignments", "Examiner")">
                <i class="fas fa-times mr-2"></i>
                Cancel
            </a>
        </div>
    </div>

</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }


}


   



<script>
    $(document).ready(function () {
        $('#examinerCategoryDropdown').change(function () {
            var categoryCode = $(this).val();
            var subSubId = $('input[name="EMS_SUB_SUB_ID"]').val();
            var paperCode = $('input[name="EMS_PAPER_CODE"]').val();
                    var regionCode = $('input[name="EMS_MARKING_REG_CODE"]').val();
            var activity = '@activity';
            var examCode = '@examCode';
            if (categoryCode) {
                $.ajax({
                    url: '@Url.Action("GetAbsentExaminersByCategory", "Examiner")',
                    data: { categoryCode: categoryCode,
                           subSubId: subSubId,
                        paperCode: paperCode,
                        activity: activity,
                        examCode: examCode,
                        regionCode: regionCode,
                     
                    },
                    success: function (data) {
                        console.log(data);
                        var examinerNumberDropdown = $('#examinerNumberDropdown');
                        examinerNumberDropdown.empty();
                        examinerNumberDropdown.append('<option value="">Select Examiner Number</option>');
                        $.each(data, function (index, item) {
                            examinerNumberDropdown.append('<option value="' + item.examinerNumber + '" data-superord="' + item.superord + '">' + item.examinerNumber + ' - ' + item.examinerName + '</option>');
                        });

                    }
                });
            }
        });

        $('#examinerNumberDropdown').change(function () {
            var selectedExaminerText = $(this).find('option:selected').text();
            console.log('Selected Examiner:', selectedExaminerText);

            var selectedExaminerData = $(this).find('option:selected').data('superord');
            console.log('Selected Superord:', selectedExaminerData);

            // Update the Superord dropdown
            $('#superordDropdown').empty().append('<option value="' + selectedExaminerData + '">' + selectedExaminerData + '</option>');
        });
    });

</script>


