@using ExaminerPaymentSystem.ViewModels.Examiners
@model IEnumerable<ExaminerListViewModel>


@inject SignInManager<ApplicationUser> SignInManager


@{
    ViewBag.Title = "Transcribers";

    string examCode = ViewBag.ExamCode ?? "";

    string activity = ViewBag.Activity ?? "";

}






<script>
    $(document).ready(function () {
    @if (TempData["SuccessMessage"] != null)
    {
        <text>
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: '@TempData["SuccessMessage"]',
                    showConfirmButton: false,
                    timer: 2000
                });
        </text>
    }

                                    });
</script>


<div class="text-center mb-4 mt-4">
    <div class="d-flex align-items-center justify-content-center gap-2">
        <i class="fas fa-users" style="color: #2a5a8a;"></i>
        <h4 class="fw-bold mb-0" style="color: #153355;">
            Invited   Transcribers
         
        </h4>
    </div>
    <hr style="border-top: 1px solid black;
    width: 100px;
    margin: 8px auto;
    ">
</div>





<div class="card p-4 shadow-sm border-1">
    <div class="card-body">
        <div class="table-responsive">
            <table id="transcribersTable" class="table table-bordered table-striped table-hover">
                <thead class="table-light">
                    <tr>
                     
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>National ID</th>
                        <th>Category</th>
               
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Dynamic data will populate here -->
                </tbody>
            </table>
        </div>
    </div>
</div>






<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log('DOM fully loaded and parsed');

        function attachDeleteEvent() {
            const deleteButtons = document.querySelectorAll('.delete-button');
            if (deleteButtons.length > 0) {
                console.log(`Found ${deleteButtons.length} delete buttons`);

                deleteButtons.forEach(button => {
                    button.addEventListener('click', function (e) {
                        e.preventDefault();
                        console.log('Delete button clicked');

                        const idNumber = this.getAttribute('data-idnumber');
                        const examinerCode = this.getAttribute('data-examinercode');
                        const subKey = this.getAttribute('data-subkey');

                        Swal.fire({
                            title: 'Are you sure?',
                            text: "You won't be able to revert this!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, delete it!'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                console.log('Confirmed delete');
                                // Make a GET request to delete the item
                                fetch(`/Transcribers/DeleteTranscriber?idNumber=${idNumber}&examinerCode=${examinerCode}&subKey=${subKey}`, {
                                    method: 'GET',
                                })
                                    .then(response => response.json())
                                    .then(data => {
                                        if (data.success) {
                                            Swal.fire(
                                                'Deleted!',
                                                'The record has been deleted.',
                                                'success'
                                            ).then(() => {
                                                location.reload();
                                            });
                                        } else {
                                            Swal.fire(
                                                'Error!',
                                                'There was an error deleting the record.',
                                                'error'
                                            );
                                        }
                                    });
                            }
                        });
                    });
                });
            } else {
                console.log('No delete buttons found');
            }
        }

        // Initial attachment of events
        attachDeleteEvent();

        // Use MutationObserver to detect any added nodes and re-attach events
        const observer = new MutationObserver((mutations) => {
            mutations.forEach((mutation) => {
                if (mutation.addedNodes.length > 0) {
                    attachDeleteEvent();
                }
            });
        });

        observer.observe(document.body, {
            childList: true,
            subtree: true
        });
    });

</script>





@if (User.IsInRole("SubjectManager") || User.IsInRole("CentreSupervisor") || User.IsInRole("OfficerSpecialNeeds"))
{


    @section Scripts {

    <script>
        $('#transcribersTable').DataTable({
            "processing": true,
            "serverSide": true,
            "autoWidth": false,
            "lengthMenu": [
                [10, 25, 50, 100, 250, 500, 1000],
                [10, 25, 50, 100, 250, 500, 1000]
            ],
            "pageLength": 100,
            "dom": '<"row mb-3"<"col-md-4"l><"col-md-4 text-center"B><"col-md-4"f>>' +
                '<"table-responsive"t>' +
                '<"row mt-3"<"col-md-6"i><"col-md-6"p>>',
            "buttons": [
                {
                    extend: 'excelHtml5',
                    className: 'btn btn-sm btn-success',
                    text: '<i class="fa fa-file-excel" style="color: #28a745;"></i> Excel'
                },
                {
                    extend: 'csvHtml5',
                    className: 'btn btn-sm btn-info',
                    text: '<i class="fa fa-file-csv" style="color: #17a2b8;"></i> CSV'
                },
                {
                    extend: 'pdfHtml5',
                    className: 'btn btn-sm btn-danger',
                    text: '<i class="fa fa-file-pdf" style="color: #dc3545;"></i> PDF'
                }
            ],
            "ajax": {
                url: "/Transcribers/GetSelectedTranscribers",
                type: "POST",
                     data: function (d) {
                        // Add your custom parameters here
                        d.examCode = "@examCode"; // Pass examCode from ViewBag
               
                        d.activity = "@activity"; // Pass activity from ViewBag
                     

                    }
            },
            "columns": [
           
                { "data": "lastName", "name": "LastName", "autoWidth": true },
                { "data": "firstName", "name": "FirstName", "autoWidth": true },
                { "data": "idNumber", "name": "IDNumber", "autoWidth": true },
                { "data": "category", "name": "Category", "autoWidth": true },
       
                {
                    "render": function (data, type, row) {
                        return `
                                    <div class="btn-group" role="group">



                                                            <a href="/Transcribers/EditTranscriber?examinerCode=${row.examinerCode}&subKey=${row.subKey}&idNumber=${row.idNumber}&activity=${"@activity"}&examCode=${"@examCode"}"
                                           class="btn btn-sm btn-outline-success">
                                            <i class="fa fa-edit"></i>Edit
                                        </a>
                                    </div>
                                `;
                    }
                }
            ],
        

        });

    </script>

    }
}


@if (User.IsInRole("Admin"))
{



    @section Scripts {

    <script>
        $('#transcribersTable').DataTable({
            "processing": true,
            "serverSide": true,
            "autoWidth": false,
            "lengthMenu": [
                [10, 25, 50, 100, 250, 500, 1000],
                [10, 25, 50, 100, 250, 500, 1000]
            ],
            "pageLength": 100,
            "dom": '<"row mb-3"<"col-md-4"l><"col-md-4 text-center"B><"col-md-4"f>>' +
                '<"table-responsive"t>' +
                '<"row mt-3"<"col-md-6"i><"col-md-6"p>>',
            "buttons": [
                {
                    extend: 'excelHtml5',
                    className: 'btn btn-sm btn-success',
                    text: '<i class="fa fa-file-excel" style="color: #28a745;"></i> Excel'
                },
                {
                    extend: 'csvHtml5',
                    className: 'btn btn-sm btn-info',
                    text: '<i class="fa fa-file-csv" style="color: #17a2b8;"></i> CSV'
                },
                {
                    extend: 'pdfHtml5',
                    className: 'btn btn-sm btn-danger',
                    text: '<i class="fa fa-file-pdf" style="color: #dc3545;"></i> PDF'
                }
            ],
            "ajax": {
                url: "/Transcribers/GetSelectedTranscribers",
                type: "POST",
                     data: function (d) {
                        // Add your custom parameters here
                        d.examCode = "@examCode"; // Pass examCode from ViewBag
                
                        d.activity = "@activity"; // Pass activity from ViewBag
                     

                    }
            },
            "columns": [
        
                { "data": "lastName", "name": "LastName", "autoWidth": true },
                { "data": "firstName", "name": "FirstName", "autoWidth": true },
                { "data": "idNumber", "name": "IDNumber", "autoWidth": true },
                { "data": "category", "name": "Category", "autoWidth": true },
           
                {
                    "render": function (data, type, row) {
                        return `
                                            <div class="btn-group" role="group">


                                                                    <a href="/Transcribers/EditTranscriber?examinerCode=${row.examinerCode}&subKey=${row.subKey}&idNumber=${row.idNumber}&activity=${"@activity"}&examCode=${"@examCode"}"
                                                   class="btn btn-sm btn-outline-success me-1">
                                                    <i class="fa fa-edit"></i>Edit
                                                </a>
                                                                  <button
                                class="btn btn-sm btn-outline-danger delete-button"
                                data-examinercode="${row.examinerCode}"
                                data-subkey="${row.subKey}"
                                data-idnumber="${row.idNumber}">
                                <i class="fa fa-trash"></i> Delete
                            </button>
                                            </div>
                                        `;
                    }
                }
            ],

        });

    </script>



    }
}





